<!-- Footer -->
<footer>
    <div class="image-container">
      <img src="https://s.err.ee/photo/crop/2021/05/10/1004545h98det4.jpg">
    </div>
    <div class="content">
      <p>
        <span class="author">BIll Gates</span> es un experto en tecnología, líder empresarial y filántropo. En 1975
        fundó <em>Microsoft</em> junto a su amigo Paul Allen y, en la actualidad, copreside con su exesposa la
        <em>Fundación Bill & Melinda Gates</em>.
      <p>
        También creó <em>Breakthrough Energy</em>, una iniciativa para la comercialización de energías limpias y
        tecnologías relacionadas con el medio ambiente.
      </p>
    </div>
  </footer>
