<!-- <div *ngIf ="change; then bloque2 else bloque1"></div>


<ng-template #bloque1>
  <div class="navigation">
    <form method="post" action="#" (ngSubmit)="ChangeViews()">
      <input type="text" name="Name" [(ngModel)]="name"/>
    </form>
</div>

  <div class="banner" [ngStyle]="{'background-image' : 'url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/06/rick-morty-2381623.jpg?tf=3840x)'}">
    <div class="banner-text">
      <h2 [routerLink]="['viewOne']">{{title}}</h2>
    </div>
  </div>

  <div class="content">
  </div>
</ng-template>


<ng-template #bloque2>
  <div class="navigation">
    <form method="post" action="#" (ngSubmit)="ChangeViews()">
      <input type="text" name="Name" [(ngModel)]="name"/>
    </form>
  </div>

  <div class="banner" [ngStyle]="{'background-image' : 'url(https://static.eldiario.es/clip/0a1ee554-bcf7-4c32-9c2a-37e76297ef6f_16-9-discover-aspect-ratio_default_0.jpg)'}">
    <div class="banner-text">
      <h2 [routerLink]="['viewOne']">{{title}}</h2>
    </div>
  </div>

  <div class="content"></div>
</ng-template>
 -->
 <div *ngIf="change; then bloque2 else bloque1"></div>

 <ng-template #bloque1>
   <div class="navigation">
     <form method="post" action="#" (ngSubmit)="changeViews()">
       <input type="text" name="Name" [(ngModel)]="name" />
     </form>
   </div>
 
   <div class="banner" [ngStyle]="{'background-image' : 'url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/06/rick-morty-2381623.jpg?tf=3840x)'}">
     <div class="banner-text">
       <h2 (click)="changeViews()">{{ title }}</h2>
     </div>
   </div>
 
   <div class="content"></div>
 </ng-template>
 
 <ng-template #bloque2>
   <div class="navigation">
     <form method="post" action="#" (ngSubmit)="changeViews()">
       <input type="text" name="Name" [(ngModel)]="name" />
     </form>
   </div>
 
   <div class="banner" [ngStyle]="{'background-image' : 'url(https://static.eldiario.es/clip/0a1ee554-bcf7-4c32-9c2a-37e76297ef6f_16-9-discover-aspect-ratio_default_0.jpg)'}">
     <div class="banner-text">
       <h2 (click)="changeViews()">{{ title }}</h2>
     </div>
   </div>
 
   <div class="content"></div>
 </ng-template>

 <div *ngIf="change; then bloque3"></div>
 <ng-template #bloque3>
  <div class="navigation">
    <form method="post" action="#" (ngSubmit)="changeViews()">
      <input type="text" name="Name" [(ngModel)]="name" />
    </form>
  </div>

  <div class="banner" [ngStyle]="{'background-image' : 'url(https://pixabay.com/es/photos/gato-de-bengala-gato-mascota-animal-8012976/)'}">
    <div class="banner-text">
      <h2 (click)="changeViews()">{{ title }}</h2>
    </div>
  </div>

  <div class="content"></div>
</ng-template>