.jumbotron{
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.banner{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.category{
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}