
<main class="container">

    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Repaso eventos</strong>
          <h3 class="mb-0">Ejercicio 1</h3>
          <div class="mb-1 text-muted btn btn-primary mt-3"  (click)="changeParraf1()">cambia texto</div>
          <p class="card-text mb-auto" >{{paragraphs[contador1]}}</p>
       
        </div>
        <div class="col-auto d-none d-lg-block">
          <p *ngFor="let url of url1" >
            <img src="{{url}}" [ngStyle]="{'width' : '200px', 'height' : '250px'}" >
          </p>
        </div>
      </div>
       <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Ejercicio2</strong>
          <h3 class="mb-0">{{titles[contador2]}}</h3>
          <div class="mb-1 text-muted"  >Evento click</div>
          <p class="card-text mb-auto btn btn-primary" (click)="changeTitle()">Al hacer click que cambie el título Ejercicio 2.</p>
          <button (click)="ChangeImage()" class="btn btn-primary">Siguiente imagen</button>
        </div>
        <div class="col-auto d-none d-lg-block">
          <a ><img *ngIf="url[currentImage]" [src]="url[currentImage]" [ngStyle]="{'width' : '200px', 'height' : '250px'}"></a>
        </div>
      </div> 

     </div> 

    <div style="display: flex;">
      <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Repaso eventos</strong>
          <h3 class="mb-0">Ejercicio 3</h3>
          <div class="mb-1 text-muted btn btn-primary" (click)="changeParraf2()">Cambia parrafo</div>
          <p class="card-text mb-auto">{{paragraphs[contador4]}}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <p *ngFor="let url of url3" >
            <img src="{{url}}" [ngStyle]="{'width' : '200px', 'height' : '250px'}" >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Repaso eventos</strong>
          <h3 class="mb-0">Ejercicio 4</h3>
          <div class="mb-1 text-muted btn btn-primary" (click)="changeParraf3()">Cambia parrafo</div>
          <p class="card-text mb-auto" >{{paragraphs[contador3]}}</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <p *ngFor="let url of url4" >
            <img src="{{url}}" [ngStyle]="{'width' : '200px', 'height' : '250px'}" >
          </p>
        </div>
      </div>
    </div> 
    <!-- 
      EXPLICACION PARA HECTOR
      <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Repaso eventos</strong>
          <h3 class="mb-0">Ejercicio 4</h3>
          <div class="mb-1 text-muted btn btn-primary" (click)="changeText1()">Cambia parrafo</div>
          <p class="card-text mb-auto" >{{texto1}}</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <p *ngFor="let url of url4" >
            <img src="{{url}}" [ngStyle]="{'width' : '200px', 'height' : '250px'}" >
          </p>
        </div>
      </div>
    </div> --> 
  </div>
</main>