<div [ngSwitch]="type">
  <div *ngSwitchCase='"one"' class="photo">
    <div class="{{class}}">
        <img *ngFor = "let item of image" (click)="changeSize($event)"src="{{item}}">
    </div>
    <span class="caption">{{ caption }}</span>
</div>

  <div *ngSwitchCase="'two'" class="photo">
    <div class="image-container2">
      <div *ngFor="let item of resp">
        <img [src]="item" alt="">
        <p>{{ item}}</p>
      </div>
    </div>
    <span *ngIf="showImage" class="caption">Rick and Morty</span>
  </div>
</div>