<!-- Footer -->
<footer>
  <div class="image-container">
    <img src="https://s.err.ee/photo/crop/2021/05/10/1004545h98det4.jpg">
  </div>
  <div class="content">
    <p>
      <span class="author">Bill Gates</span> es un experto en tecnología, líder empresarial y filántropo. En 1975 fundó <em>Microsoft</em> junto a su amigo Paul Allen y, en la actualidad, copreside con su exesposa la <em><a href="https://www.gatesfoundation.org/" target="_blank">Fundación Bill & Melinda Gates</a></em>.
    <p>
      También creó <em><a href="https://breakthroughenergy.org/" target="_blank">Breakthrough Energy</a></em>, una iniciativa para la comercialización de energías limpias y tecnologías relacionadas con el medio ambiente.
    </p>
  </div>
</footer>

