 <div class="container">
    <div class="row">
        <div class="col-12 text-center text-uppercase" *ngIf="mostrarForm">
            <form class="form" (ngSubmit)="EnviarPersonajes()">
                <label >
                    <input type="text" name="nombre" id="nombre" value="nombre"  [(ngModel)]="name">
                </label>
                <button type="submit" value="Enviar" class="btn btn-primary">ENVIAR</button>
            </form>
        </div>
    </div>
</div> 
<!-- <div *ngIf="mostrarForm" style="display: flex; align-items: center; justify-content: center">
    <form method="post" action="#" (ngSubmit)="EnviarPersonajes()" >
      <div class="answer-bank">
          <div class="answer">
              <input [(ngModel)]="name" type="text" name="name" id="name" value="" placeholder="type" />
          </div>
          <div class="answer">
              <input type="submit" value="Enviar" class="primary" />
          </div>
      </div>
  </form>
  </div>  -->
